# ---- Keil uVision : sorties de compilation ----
Objects/
Listings/
DebugConfig/
*.uvguix.*
*.uvoptx
*.bak
*.dep
*.crf
*.htm
*.lnp
*.plg
*.sct
*.scvd

# ---- Binaires et objets ----
*.o
*.d
*.axf
*.elf
*.bin
*.hex
*.map
*.lst


# ---- Système ----
.DS_Store
Thumbs.db
*~
